<%- include("partials/header"); -%>

<h1 class="about">About Me</h1>
<p>A young student with knowledge in software as well as coding, specialized in Web development , designing robots. Always believe teamwork will lead you towards victory.</p>



    <h1 class ="about"> <%= aboutContent %> </h1>
<p>
         <b>Bachelor of Technology(B.Tech),Electronics and Computer Science Engineering<br>
          Kalinga Institute of Industrial Technology,Bhubaneswar <br>
          Course duration : 2018-2022 <br>
          <p>
          Senior Secondary(XII),Science<br>
          D.A.V. Public School,Hehal, Ranchi<br>
          (CBSE Board) <br>
          Year of completion:2018 <br>
      </p>
      <p>
          Secondary(X)<br>
           D.A.V. Public School,Hehal, Ranchi<br>
          (CBSE Board) <br>
          Year of completion:2016 <br>
          </b>
</p>
<%- include("partials/footer"); -%>
