<%- include("partials/header"); -%>

    <h1><%= contactContent %> </h1>
    <span>
         <strong> Mail id :</strong>
    </span><br>
        <a href="mailto:tusharkhetan78@gmail.com" id="mail">tusharkhetan78@gmail.com</a><br>
    <span>
       <strong> Contact no : </strong>
    </span><br>
    9006941172 <br>
    <span>
        <strong>Linkedin prof : </strong>
    </span><br>
   <a href="https://www.linkedin.com/in/tushar-khetan-2970ab19b/" id="linkedin">Tushar Khetan</a> <br>
   <span>
<%- include("partials/footer"); -%>
